#playlist-tabs {
  width: 20%;
  height: 50%;
  border: solid white;
  scrollbar-size: 0 0;
}
#playlist-table {
  background: transparent;
  scrollbar-size: 0 0;
}

PlaylistLabel {
  background: transparent;
}
Screen {
  background: transparent;
}
#playlist-table {
  height: 100%;
  border: solid white;
}
Player {
  height: 80%;
}
PlayerControls {
  height: 20%;
  border: solid white;
}
ProgressBar {
}
CurrentSong {
  width: 100%;
}